/*------------------------------------------------------------------
[TFG-17846]

Project:        ClickEPS
Version:        0.0.1
Last change:    29/07/2015
Primary use:    TFG
Author:         Mario Antonio Polo Daza

-------------------------------------------------------------------*/


/*--  [Normalize]  ------------------------------------------------*/
@import "public/less/normalize.less";

/*--  [Base]  -----------------------------------------------------*/
@import "public/less/base.less";

/*--  [Colors]  ---------------------------------------------------*/
@import "public/less/colors.less";


/*--  [Web]  ------------------------------------------------------*/

/*-  Login  -------------------------------------------------------*/
@import "public/less/web/login.less";