/*------------------------------------------------------------------
[TFG-17846]

Project:        ClickEPS
Version:        0.0.1
Last change:    30/01/2016
Primary use:    TFG
Author:         Mario Antonio Polo Daza

-------------------------------------------------------------------*/

/*--  [AngularChart]  ---------------------------------------------*/
@import "../lib/angular-chart.js/dist/angular-chart.css";

/*--  [Normalize]  ------------------------------------------------*/
@import "public/less/normalize.less";

/*--  [Base]  -----------------------------------------------------*/
@import "public/less/base.less";

/*--  [Mixins]  ---------------------------------------------------*/
@import "public/less/mixins.less";

/*--  [Colors]  ---------------------------------------------------*/
@import "public/less/colors.less";

/*--  [Typography]  -----------------------------------------------*/
@import "public/less/typography.less";


/*--  [Web]  ------------------------------------------------------*/

/*-  LandingPage  -------------------------------------------------*/
@import "public/less/modules/landingPage.less";

/*-  Login  -------------------------------------------------------*/
@import "public/less/modules/login.less";

/*-  MainMenu  ----------------------------------------------------*/
@import "public/less/modules/mainMenu.less";
@import "public/less/modules/childViews/questionStats.less";
@import "public/less/modules/childViews/studentStats.less";
@import "public/less/modules/childViews/newQuestion.less";
@import "public/less/modules/childViews/editQuestion.less";