/*------------------------------------------------------------------
[MAIN MENU]

+ .main-menu-layout

-------------------------------------------------------------------*/

.main-menu-layout {
    .flex-display();
    .flex-direction(row);
    .justify-content(space-between);
    .flex-grow(1);

    aside {
        width: 130px;
        box-shadow: inset 0px 0px 5px 0px @border;
        background-color: @blue-light;
    }

    .menu-options {
        .flex-display();
        .flex-direction(column);
        .border-radius(10px);
        width: 120px;
        margin: 10px 5px;
        padding: 10px 5px;
        background-color: @white;

        .menu-options-title {
            .align-self(center);
            border-bottom: 1px solid @black;
            margin-bottom: 5px;
        }

        .menu-options-username {
            .typ14-400-black;
        }

        .menu-options-link {
            .typ14-400-black;
            text-decoration: none;
        }

        .menu-options-selectAll {
            .flex-display();
            .flex-direction(row);
            .justify-content(space-between);
            .align-items(center);
            .typ12-400-grey-dark;
            border-bottom: 1px dotted @black;
            margin-bottom: 5px;
            padding-bottom: 5px;
        }

        ul {
            list-style: none;
            li {
                &.group {
                    cursor: pointer;
                    &:hover {
                        .typ16-600-blue-dark;
                    }
                    &.active {
                        cursor: default;
                        .typ16-600-black;
                    }
                }
                &.check {
                    .flex-display();
                    .flex-direction(row);
                    .justify-content(space-between);
                    .align-items(center);
                }
            }
        }
    }

    .menu-center {
        .flex-display();
        .flex-direction(column);
        height: 100%;
        width: 720px;

        .menu-center-title {
            height: 25px;
            margin: 10px 20px 6px 20px;
            .typ22-400-black;
        }

        .menu-center-tabset {
            .flex-display();
            .flex-direction(row);
            .justify-content(space-between);
            .align-items(center);
            height: 25px;
            border-top: 2px solid @black;
            border-bottom: 2px solid @black;

            li {
                .flex-display();
                .flex-direction(row);
                .flex-grow(1);
                .justify-content(center);
                .align-items(center);
                height: 21px;
                a {
                    text-decoration: none;
                    .typ14-400-black;
                    &:hover {
                        .typ14-600-blue-dark;
                    }
                }
                &.active {
                    background-color: @blue-light;
                    a {
                        cursor: default;
                        .typ14-600-black;
                    }
                }
            }
        }
    }
}