<div class="edit-question-layout" ng-show="vm.tabActive === 3">
    <div class="edit-question-select">
        <span class="edit-question-select-title">Seleccione Pregunta:</span>
        <select ng-show="vm.questions.length > 0" ng-options="item as item.title for item in vm.questions track by item.id" ng-model="vm.questionSelected"></select>
        <select ng-show="vm.questions.length === 0"><option>Seleccione temas del menú izquierdo con preguntas asociadas</option></select>
    </div>

    <form ng-submit="vm.submitQuestion()">
        <div class="edit-question-text-content">
            <span class="edit-question-text-title">Editar Enunciado:</span>
            <textarea class="edit-question-text-area" ng-model="vm.questionSelected.text" required></textarea>
        </div>

        <div class="edit-question-answers-content">
            <span class="edit-question-answers-title">Editar Respuestas:</span>
            <div class="edit-question-answers-answer">
                <label class="edit-question-answers-answer-label">A)</label>
                <input type="text" class="edit-question-answers-answer-input" ng-model="vm.questionSelected.answerA" required>
            </div>
            <div class="edit-question-answers-answer">
                <label class="edit-question-answers-answer-label">B)</label>
                <input type="text" class="edit-question-answers-answer-input" ng-model="vm.questionSelected.answerB" required>
            </div>
            <div class="edit-question-answers-answer">
                <label class="edit-question-answers-answer-label">C)</label>
                <input type="text" class="edit-question-answers-answer-input" ng-model="vm.questionSelected.answerC" required>
            </div>
            <div class="edit-question-answers-answer">
                <label class="edit-question-answers-answer-label">D)</label>
                <input type="text" class="edit-question-answers-answer-input" ng-model="vm.questionSelected.answerD" required>
            </div>
        </div>

        <div class="edit-question-answers-options">
            <div class="edit-question-answers-options-option">
                <span class="edit-question-answers-options-title">Seleccione Respuesta Correcta:</span>
                <select ng-options="item as item for item in vm.options track by item" class="edit-question-answers-options-input" ng-model="vm.questionSelected.solution" required></select>
            </div>
            <div class="edit-question-answers-options-option">
                <span class="edit-question-answers-options-title">Seleccione Dificultad:</span>
                <input type="number" class="edit-question-answers-options-input" min="1" max="3" ng-model="vm.questionSelected.difficulty" required>
            </div>
        </div>

        <div class="edit-question-end">
            <div class="edit-question-dates">
                <div class="edit-question-dates-activation">
                    <span>Fecha de activación</span>
                    <div class="edit-question-dates-activation-inputs">
                        <input type="number" ng-model="vm.questionSelected.dateActivation.day" min="1" max="{{vm.questionSelected.dateActivation.maxDay}}" ng-change="vm.questionSelected.dateActivation.maxDay = vm.setMaxDate(vm.questionSelected.dateActivation)">&nbsp;/&nbsp;
                        <input type="number" ng-model="vm.questionSelected.dateActivation.month" min="1" max="12" ng-change="vm.questionSelected.dateActivation.maxDay = vm.setMaxDate(vm.questionSelected.dateActivation)">&nbsp;/&nbsp;
                        <input type="number" ng-model="vm.questionSelected.dateActivation.year" min="2017" max="2067" ng-change="vm.questionSelected.dateActivation.maxDay = vm.setMaxDate(vm.questionSelected.dateActivation)">&nbsp;-&nbsp;
                        <input type="number" ng-model="vm.questionSelected.dateActivation.hour" min="0" max="23">&nbsp;H&nbsp;
                        <input type="number" ng-model="vm.questionSelected.dateActivation.minutes" min="0" max="59">&nbsp;M
                    </div>
                </div>
                <div class="edit-question-dates-expiration">
                    <span>Fecha de expiración</span>
                    <div class="edit-question-dates-expiration-inputs">
                        <input type="number" ng-model="vm.questionSelected.dateExpiration.day" min="1" max="{{vm.questionSelected.dateExpiration.maxDay}}" ng-change="vm.questionSelected.dateExpiration.maxDay = vm.setMaxDate(vm.questionSelected.dateExpiration)">&nbsp;/&nbsp;
                        <input type="number" ng-model="vm.questionSelected.dateExpiration.month" min="1" max="12" ng-change="vm.questionSelected.dateExpiration.maxDay = vm.setMaxDate(vm.questionSelected.dateExpiration)">&nbsp;/&nbsp;
                        <input type="number" ng-model="vm.questionSelected.dateExpiration.year" min="2017" max="2067" ng-change="vm.questionSelected.dateExpiration.maxDay = vm.setMaxDate(vm.questionSelected.dateExpiration)">&nbsp;-&nbsp;
                        <input type="number" ng-model="vm.questionSelected.dateExpiration.hour" min="0" max="23">&nbsp;H&nbsp;
                        <input type="number" ng-model="vm.questionSelected.dateExpiration.minutes" min="0" max="59">&nbsp;M
                    </div>
                </div>
            </div>
            <div class="edit-question-buttons">
                <div class="edit-question-buttons-top">
                    <button class="danger" ng-click="vm.submitType = 'remove'">
                        <input type="submit" class="danger" value="Eliminar">
                        <img src="resources/icons/delete.png">
                    </button>
                    <button class="secondary" ng-click="vm.submitType = 'duplicate'">
                        <input type="submit" class="secondary" value="Duplicar">
                        <img src="resources/icons/copy.png">
                    </button>
                </div>
                <div class="edit-question-buttons-bottom">
                    <button ng-click="vm.submitType = 'edit'">
                        <input type="submit" value="Editar">
                        <img src="resources/icons/edit.png">
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>