<form class="new-question-layout" ng-show="vm.tabActive === 2" ng-submit="vm.sendQuestion()">
    <div class="new-question-text-content">
        <span class="new-question-text-title">Introduzca Enunciado:</span>
        <textarea class="new-question-text-area" ng-model="vm.newQuestion.text" required></textarea>
    </div>

    <div class="new-question-answers-content">
        <span class="new-question-answers-title">Introduzca Respuestas:</span>
        <div class="new-question-answers-answer">
            <label class="new-question-answers-answer-label">A)</label>
            <input type="text" class="new-question-answers-answer-input" ng-model="vm.newQuestion.answerA" required>
        </div>
        <div class="new-question-answers-answer">
            <label class="new-question-answers-answer-label">B)</label>
            <input type="text" class="new-question-answers-answer-input" ng-model="vm.newQuestion.answerB" required>
        </div>
        <div class="new-question-answers-answer">
            <label class="new-question-answers-answer-label">C)</label>
            <input type="text" class="new-question-answers-answer-input" ng-model="vm.newQuestion.answerC" required>
        </div>
        <div class="new-question-answers-answer">
            <label class="new-question-answers-answer-label">D)</label>
            <input type="text" class="new-question-answers-answer-input" ng-model="vm.newQuestion.answerD" required>
        </div>
    </div>

    <div class="new-question-answers-options">
        <div class="new-question-answers-options-option">
            <span class="new-question-answers-options-title">Seleccione Respuesta Correcta:</span>
            <select ng-options="item as item for item in vm.options track by item" class="new-question-answers-options-input" ng-model="vm.newQuestion.solution" required></select>
        </div>
        <div class="new-question-answers-options-option">
            <span class="new-question-answers-options-title">Seleccione Dificultad:</span>
            <input type="number" class="new-question-answers-options-input" min="1" max="3" ng-model="vm.newQuestion.difficulty" required>
        </div>
    </div>

    <!-- <div class="new-question-buttons">
        <div class="new-question-buttons-left">
            <span>Establecer visible</span>
            <input type="number" class="new-question-buttons-left-input" min="0" ng-model="vm.newQuestion.minutes" required>
            <span>minutos</span>
        </div>
        <button class="new-question-buttons-right">
            <input type="submit" value="Crear">
            <img src="resources/icons/create.png">
        </button>
    </div> -->

    <div class="new-question-end">
        <div class="new-question-dates">
            <div class="new-question-dates-activation">
                <span>Fecha de activación</span>
                <div class="new-question-dates-activation-inputs">
                    <input type="number" ng-model="vm.newQuestion.dateActivation.day" min="1" max="{{vm.newQuestion.dateActivation.maxDay}}" ng-change="vm.newQuestion.dateActivation.maxDay = vm.setMaxDate(vm.newQuestion.dateActivation)">&nbsp;/&nbsp;
                    <input type="number" ng-model="vm.newQuestion.dateActivation.month" min="1" max="12" ng-change="vm.newQuestion.dateActivation.maxDay = vm.setMaxDate(vm.newQuestion.dateActivation)">&nbsp;/&nbsp;
                    <input type="number" ng-model="vm.newQuestion.dateActivation.year" min="2017" max="2067" ng-change="vm.newQuestion.dateActivation.maxDay = vm.setMaxDate(vm.newQuestion.dateActivation)">&nbsp;-&nbsp;
                    <input type="number" ng-model="vm.newQuestion.dateActivation.hour" min="0" max="23">&nbsp;H&nbsp;
                    <input type="number" ng-model="vm.newQuestion.dateActivation.minutes" min="0" max="59">&nbsp;M
                </div>
            </div>
            <div class="new-question-dates-expiration">
                <span>Fecha de expiración</span>
                <div class="new-question-dates-expiration-inputs">
                    <input type="number" ng-model="vm.newQuestion.dateExpiration.day" min="1" max="{{vm.newQuestion.dateExpiration.maxDay}}" ng-change="vm.newQuestion.dateExpiration.maxDay = vm.setMaxDate(vm.newQuestion.dateExpiration)">&nbsp;/&nbsp;
                    <input type="number" ng-model="vm.newQuestion.dateExpiration.month" min="1" max="12" ng-change="vm.newQuestion.dateExpiration.maxDay = vm.setMaxDate(vm.newQuestion.dateExpiration)">&nbsp;/&nbsp;
                    <input type="number" ng-model="vm.newQuestion.dateExpiration.year" min="2017" max="2067" ng-change="vm.newQuestion.dateExpiration.maxDay = vm.setMaxDate(vm.newQuestion.dateExpiration)">&nbsp;-&nbsp;
                    <input type="number" ng-model="vm.newQuestion.dateExpiration.hour" min="0" max="23">&nbsp;H&nbsp;
                    <input type="number" ng-model="vm.newQuestion.dateExpiration.minutes" min="0" max="59">&nbsp;M
                </div>
            </div>
        </div>
        <button class="new-question-button">
            <input type="submit" value="Crear">
            <img src="resources/icons/create.png">
        </button>
    </div>
</form>