<div class="student-stats-layout" ng-show="vm.tabActive === 1">
    <div class="student-stats-select">
        <span class="student-stats-select-title">Seleccione Estudiante:</span>
        <select ng-show="vm.students.length > 0" ng-options="item as item.title for item in vm.students track by item.id" ng-model="vm.studentSelected"></select>
        <select ng-show="vm.students.length === 0"><option>Seleccione temas del menú izquierdo con estudiantes en curso</option></select>
    </div>

    <div class="student-stats-graph" ng-show="vm.students.length > 0 && vm.studentAnswers.length > 0">
        <canvas id="pie" class="chart chart-pie"
            chart-data="vm.rates" chart-labels="vm.labels" chart-legend="true" chart-colours="vm.colors">
        </canvas>

        <div class="student-stats-graph-percents">
            <div class="student-stats-graph-percent">
                <img src="resources/icons/tick32.png">Respuestas Correctas {{vm.rates[0]}}
            </div>
            <div class="student-stats-graph-percent">
                <img src="resources/icons/wrong32.png">Respuestas Incorrectas {{vm.rates[1]}}
            </div>
            <div class="student-stats-graph-percent">
                <img src="resources/icons/sad32.png">No sabe / No contesta {{vm.rates[2]}}
            </div>
            <div class="student-stats-graph-percent">
                <span>Total de Respuestas: </span>{{vm.sum}}
            </div>
        </div>
    </div>

    <div class="student-stats-advice" ng-show="!vm.isAnyChecked">
        <i>AVISO: Seleccione al menos un tema del menú izquierdo para ver estadísticas</i>
    </div>

    <div class="student-stats-advice" ng-show="vm.students.length === 0 && vm.isAnyChecked">
        <i>AVISO: Todavía no se han registrado estudiantes para este curso</i>
    </div>

    <div class="student-stats-advice" ng-show="vm.students.length > 0 && vm.isAnyChecked && vm.studentAnswers.length === 0">
        <i>AVISO: Este estudiante todavía no ha registrado ninguna respuesta en los temas seleccionados</i>
    </div>

    <div class="student-stats-questions" ng-show="vm.students.length > 0 && vm.isAnyChecked && vm.studentAnswers.length > 0">
        <div class="student-stats-questions-select">
            <span class="student-stats-questions-select-title">Seleccione Pregunta:</span>
            <select ng-show="vm.questions.length > 0" ng-options="item as item.title for item in vm.questions track by item.id" ng-model="vm.questionSelected"></select>
            <select ng-show="vm.questions.length === 0"><option>Seleccione temas del menú izquierdo con preguntas asociadas</option></select>
        </div>

        <div class="student-stats-questions-detail" ng-show="vm.questions.length > 0">
            <div class="student-stats-questions-question">{{vm.questionSelected.text}}</div>
            <div class="student-stats-questions-answer">
                A) {{vm.questionSelected.answerA}}
                <img src="resources/icons/tick.png" class="icon-tick" ng-show="(vm.questionSelected.solution === 'A') && (vm.questionSelected.selection === 'A')">
                <img src="resources/icons/wrong.png" class="icon-wrong" ng-show="(vm.questionSelected.selection === 'A') && (vm.questionSelected.selection !== vm.questionSelected.solution)">
            </div>
            <div class="student-stats-questions-answer">
                B) {{vm.questionSelected.answerB}}
                <img src="resources/icons/tick.png" class="icon-tick" ng-show="(vm.questionSelected.solution === 'B') && (vm.questionSelected.selection === 'B')">
                <img src="resources/icons/wrong.png" class="icon-wrong" ng-show="(vm.questionSelected.selection === 'B') && (vm.questionSelected.selection !== vm.questionSelected.solution)">
            </div>
            <div class="student-stats-questions-answer">
                C) {{vm.questionSelected.answerC}}
                <img src="resources/icons/tick.png" class="icon-tick" ng-show="(vm.questionSelected.solution === 'C') && (vm.questionSelected.selection === 'C')">
                <img src="resources/icons/wrong.png" class="icon-wrong" ng-show="(vm.questionSelected.selection === 'C') && (vm.questionSelected.selection !== vm.questionSelected.solution)">
            </div>
            <div class="student-stats-questions-answer">
                D) {{vm.questionSelected.answerD}}
                <img src="resources/icons/tick.png" class="icon-tick" ng-show="(vm.questionSelected.solution === 'D') && (vm.questionSelected.selection === 'D')">
                <img src="resources/icons/wrong.png" class="icon-wrong" ng-show="(vm.questionSelected.selection === 'D') && (vm.questionSelected.selection !== vm.questionSelected.solution)">
            </div>
        </div>
    </div>

    <div class="student-stats-advice" ng-show="vm.students.length > 0 && vm.isAnyChecked && vm.studentAnswers.length > 0 && !vm.questionSelected.selection && vm.questionSelected.expired">
        <img src="resources/icons/sad.png" class="icon-sad">
        <i>No sabe / No contesta</i>
    </div>

    <div class="student-stats-advice" ng-show="vm.students.length > 0 && vm.isAnyChecked && vm.studentAnswers.length > 0">
        <span>Fecha de expiración: {{vm.questionSelected.expiration.toLocaleDateString()}} {{vm.questionSelected.expiration.toLocaleTimeString()}}</span>
        <span class="student-stats-advice-expiration">Expirada:
            <span ng-if="vm.questionSelected.expired">Sí</span>
            <span ng-if="!vm.questionSelected.expired">No</span>
        </span>
    </div>

</div>
