<div class="main-menu-layout">
    <aside>
        <div class="menu-options">
            <span class="menu-options-title">Grupos</span>
            <ul>
                <li class="group" ng-repeat="group in vm.groups track by $index" ng-class="{active: vm.groupActive === $index}" ng-click="vm.groupSelected($index); vm.tabActive = 0; vm.uncheckAll()" ui-sref=".questionStats">{{group.subject.code}} - {{group.group}}</li>
            </ul>
        </div>
        <div class="menu-options">
            <span class="menu-options-title">Temas</span>
            <div class="menu-options-selectAll">
                <span ng-class="{'typ12-400-grey-light' : vm.onlyOneSection}">Seleccionar todos</span>
                <input type="checkbox" ng-click="vm.checkAll()" ng-checked="vm.allChecked()" ng-disabled="vm.sections.length === 0 || vm.onlyOneSection">
            </div>
            <ul>
                <li class="check" ng-repeat="section in vm.sections track by $index">
                    <span>{{section.name}}</span>
                    <input type="checkbox" ng-model="vm.sections[$index].check" ng-click="vm.clickCheck()" ng-disabled="vm.isAnyChecked && vm.onlyOneSection && !vm.sections[$index].check">
                </li>
            </ul>
        </div>
    </aside>

    <div class="menu-center">
        <span class="menu-center-title">{{vm.groups[vm.groupActive].subject.name}} - Grupo {{vm.groups[vm.groupActive].group | limitTo : 5 : 1}}</span>
        <ul class="menu-center-tabset">
            <li ng-class="{active: vm.tabActive === 0}" ng-click="vm.tabActive = 0; vm.uncheckAll()"><a ui-sref=".questionStats">Estadísticas por Pregunta</a></li>
            <li ng-class="{active: vm.tabActive === 1}" ng-click="vm.tabActive = 1; vm.uncheckAll()"><a ui-sref=".studentStats">Estadísticas por Estudiante</a></li>
            <li ng-class="{active: vm.tabActive === 2}" ng-click="vm.tabActive = 2; vm.uncheckAll()"><a ui-sref=".newQuestion">Nueva Pregunta</a></li>
            <li ng-class="{active: vm.tabActive === 3}" ng-click="vm.tabActive = 3; vm.uncheckAll()"><a ui-sref=".editQuestion">Editar Pregunta</a></li>
        </ul>
        <div ui-view=""></div>
    </div>

    <aside>
        <div class="menu-options">
            Right
        </div>
    </aside>
</div>