<div class="main-menu-layout">
    <aside>
        <div class="menu-options">
            <span class="menu-options-title">Grupos</span>
            <ul ng-repeat="group in vm.groups track by $index">
                <li class="hover" ng-class="{active: vm.groupActive === $index}" ng-click="vm.groupSelected($index)">{{group.subject.code}} - {{group.group}}</li>
            </ul>
        </div>
        <div class="menu-options">
            <span class="menu-options-title">Temas</span>
            <div class="menu-options-selectAll">
                <span>Seleccionar todos</span>
                <input type="checkbox" ng-click="vm.checkAll()" ng-checked="vm.allChecked()" ng-disabled="vm.sections.length === 0">
            </div>
            <ul ng-repeat="section in vm.sections track by $index">
                <li class="check">
                    <span>{{section.name}}</span>
                    <input type="checkbox" ng-model="vm.sections[$index].check" ng-change="vm.changeList()">
                </li>
            </ul>
        </div>
    </aside>

    <div class="menu-center">
        MainMenu - MainMenu
    </div>

    <aside>
        <div class="menu-options">
            Right
        </div>
    </aside>
</div>