/*------------------------------------------------------------------
[BASE]

* border-box

* html

* body

+ Containers
    - main
    - section
    - header
    - footer
    - div

+ Text
    - Headers / h1, h2, h3, h4, h5, h6
    - Links / status: link, visited, hover, active

+ Lists
    - Undordered / ul

+ Buttons
    - .button
    - button
    - input[type="submit"]


-------------------------------------------------------------------*/


*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

/*--  [Body]  -----------------------------------------------------*/
body {
    .flex-display();
    .flex-direction(column);
    margin: 0;
    padding: 0;
    background: @background;
    overflow: auto;
    height: 100%;
    min-height: 600px;
    min-width: 980px;
    font-family: 'Source Sans Pro', sans-serif;
}

/*--  [Containers]  -----------------------------------------------*/
main {
    .flex-display();
    .flex-direction(column);
    .justify-content(center);
    .align-items(center);
    width: 100%;
    .flex-grow(1);
}

section, ui-view {
    .flex-display();
    .flex-direction(column);
    .justify-content(center);
    .align-items(center);
    width: 980px;
    .flex-grow(1);
}

header {
    .flex-display();
    .justify-content(center);
    .align-items(center);
    width: 100%;
    height: 30px;
    background: @green-light;
    border: 1px solid @border;
}

footer {
    .flex-display();
    .justify-content(center);
    .align-items(center);
    width: 100%;
    height: 30px;
    background: @green-light;
    border: 1px solid @border;
}

div {
    .flex-display();
    .flex-direction(column);
}

/*--  [Text]  -----------------------------------------------------*/
h1, h2, h3, h4, h5, h6, p { margin: 0; }

.title {
    .flex-display();
    .justify-content(center);
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid;
}

a {
    &:link, &:visited, &:hover, &:active { outline: none; }
}

/*--  [Lists]  ----------------------------------------------------*/
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

/*--  [Buttons]  --------------------------------------------------*/
button, .button {
    .border-radius(10px);
    padding: 6px 25px 4px 25px;
    border: 1px solid @border;
    .typ18-400-d;
    text-decoration: none;
    cursor: pointer;
    background-color: @green-medium;
    img {
        position: relative;
        top: 1px;
    }
}
button:hover, .button:hover {
    background-color: @green-dark;
    input {
        background-color: @green-dark;
    }
}

input[type="submit"] {
    background-color: @green-medium;
    border: none;
}
