/*------------------------------------------------------------------
[BASE]

* border-box

* html

* body

+ Containers
    - section
    - header
    - footer

+ Text
    - Headers / h1, h2, h3, h4, h5, h6
    - Links / status: link, visited, hover, active

+ Lists
    - Undordered / ul

+ Flexbox
    .flex-display(@display: flex)
    .flex(@columns: initial)
    .flex-direction(@direction: row)
    .flex-wrap(@wrap: nowrap)
    .flex-flow(@flow)
    .flex-order(@order: 0)
    .flex-grow(@grow: 0)
    .flex-shrink(@shrink: 1)
    .flex-basis(@width: auto)
    .justify-content(@justify: flex-start)
    .align-content(@align: stretch)
    .align-items(@align: stretch)
    .align-self(@align: auto)


-------------------------------------------------------------------*/


*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

/*--  [Body]  -----------------------------------------------------*/
body {
    margin: 0;
    padding: 0;
    background: @background;
    overflow: hidden;
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
}

/*--  [Containers]  -----------------------------------------------*/
section {
    .flex-display();
    .justify-content(center);
    .align-items(center);
    height: 100%;
    padding-bottom: 60px;
}

header {
    .flex-display();
    .justify-content(center);
    width: 100%;
    height: 30px;
    padding-top: 5px;
    background: @primary;
}

footer {
    .flex-display();
    .justify-content(center);
    width: 100%;
    height: 30px;
    padding-top: 5px;
    background: @primary;
    position: fixed;
    bottom: 0;
}

/*--  [Text]  -----------------------------------------------------*/
h1, h2, h3, h4, h5, h6, p { margin: 0; }

a {
    &:link, &:visited, &:hover, &:active { outline: none; }
}

/*--  [Lists]  ----------------------------------------------------*/
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
