/*------------------------------------------------------------------
[COLORS]

+ Colors
    - black
    - white
    - background
    - primary
    - grey-dark
    - grey-medium
    - grey-light

-------------------------------------------------------------------*/

@black: #000000;
@white: #FFFFFF;
@background: #ECFFEC;
@primary: #75FF75;
@grey-dark: #6D6D6D;
@grey-medium: #A9A9A9;
@grey-light: #D4D4D4;