/*------------------------------------------------------------------
[COLORS]

+ Colors
    - background
    - topbar
    - border
    - black
    - white
    - danger
    - blue-dark
    - blue-medium
    - blue-light
    - grey-dark
    - grey-medium
    - grey-light

+ Icons
    - login #FFFFFF
    - tick #44C767

-------------------------------------------------------------------*/

@background: #E6F3F7;
@topbar: #143541;
@border: #3997B9;
@black: #000000;
@white: #FFFFFF;
@danger: #F72F2F;
@blue-dark: #3284A0;
@blue-medium: #41A2C4;
@blue-light: #A1D1E2;
@grey-dark: #6D6D6D;
@grey-medium: #A9A9A9;
@grey-light: #D4D4D4;