/*------------------------------------------------------------------
[TYPOGRAPHY]

+ Typography
    - typ32-600-a
    - typ32-600-b
    - typ22-600-a
    - typ18-400-a


-------------------------------------------------------------------*/

.typ32-600-a {
    font-size: 32px;
    font-weight: 600;
    color: @grey-dark;
}

.typ32-600-b {
    font-size: 32px;
    font-weight: 600;
    color: @grey-medium;
}

.typ22-600-a {
    font-size: 22px;
    font-weight: 600;
    color: @grey-dark;
}

.typ18-400-a {
    font-size: 18px;
    font-weight: 400;
    color: @grey-dark;
}