/*------------------------------------------------------------------
[TYPOGRAPHY]

+ Typography
    - typ12-400-grey-light
    - typ12-400-grey-dark
    - typ14-400-black
    - typ14-400-blue-dark
    - typ14-600-black
    - typ14-600-blue-dark
    - typ16-400-black
    - typ16-600-black
    - typ16-600-blue-dark
    - typ16-600-danger
    - typ16-600-grey-medium
    - typ16-600-grey-light
    - typ16-600-white
    - typ18-400-black
    - typ18-400-grey-dark
    - typ18-400-grey-medium
    - typ18-400-grey-light
    - typ18-400-white
    - typ22-400-black
    - typ22-600-white

-------------------------------------------------------------------*/

.typ12-400-grey-light {
    font-size: 12px;
    font-weight: 400;
    color: @grey-light;
}

.typ12-400-grey-dark {
    font-size: 12px;
    font-weight: 400;
    color: @grey-dark;
}

.typ14-400-black {
    font-size: 14px;
    font-weight: 400;
    color: @black;
}

.typ14-400-blue-dark {
    font-size: 14px;
    font-weight: 400;
    color: @blue-dark;
}

.typ14-600-black {
    font-size: 14px;
    font-weight: 600;
    color: @black;
}

.typ14-600-blue-dark {
    font-size: 14px;
    font-weight: 600;
    color: @blue-dark;
}

.typ16-400-black {
    font-size: 16px;
    font-weight: 400;
    color: @black;
}

.typ16-600-black {
    font-size: 16px;
    font-weight: 600;
    color: @black;
}

.typ16-600-blue-dark {
    font-size: 16px;
    font-weight: 600;
    color: @blue-dark;
}

.typ16-600-danger {
    font-size: 16px;
    font-weight: 600;
    color: @danger;
}

.typ16-600-grey-medium {
    font-size: 16px;
    font-weight: 600;
    color: @grey-medium;
}

.typ16-600-grey-light {
    font-size: 16px;
    font-weight: 600;
    color: @grey-light;
}

.typ16-600-white {
    font-size: 16px;
    font-weight: 600;
    color: @white;
}

.typ18-400-black {
    font-size: 18px;
    font-weight: 400;
    color: @black;
}

.typ18-400-grey-dark {
    font-size: 18px;
    font-weight: 400;
    color: @grey-dark;
}

.typ18-400-grey-medium {
    font-size: 18px;
    font-weight: 400;
    color: @grey-medium;
}

.typ18-400-grey-light {
    font-size: 18px;
    font-weight: 400;
    color: @grey-light;
}

.typ18-400-white {
    font-size: 18px;
    font-weight: 400;
    color: @white;
}

.typ22-400-black {
    font-size: 22px;
    font-weight: 400;
    color: @black;
}

.typ22-600-white {
    font-size: 22px;
    font-weight: 600;
    color: @white;
}
