/*------------------------------------------------------------------
[TYPOGRAPHY]

+ Typography
    - typ18-400-a
    - typ18-400-b
    - typ18-400-c
    - typ18-400-d
    - typ22-600-a


-------------------------------------------------------------------*/

.typ18-400-a {
    font-size: 18px;
    font-weight: 400;
    color: @grey-dark;
}

.typ18-400-b {
    font-size: 18px;
    font-weight: 400;
    color: @grey-dark;
}

.typ18-400-c {
    font-size: 18px;
    font-weight: 400;
    color: @grey-dark;
}

.typ18-400-d {
    font-size: 18px;
    font-weight: 400;
    color: @white;
}

.typ22-600-a {
    font-size: 22px;
    font-weight: 600;
    color: @grey-dark;
}
